$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'what-now-theme.scss';
@import 'equal-height.scss';

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #ADADAD;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #ADADAD;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container-liquid {
    margin: 0 10px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
  }

  /* Space out the masthead and footer */
  .header {
    margin-bottom: 10px;
  }
  .footer {
    margin-top: 10px;
    text-align: center;
  }
}


.glyphicon-small {
  font-size: 10px;
}

.clarification {
  font-size: small;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.nav > li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li a:hover,
.nav > li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

@import 'main.scss';
@import 'task-list.scss';
@import 'tags.scss';

/* hiding unnecessary stuff in smaller devices */
@media screen and (max-width: 490px) {
  .app-subtitle {
    display: none;
  }
}