<h1>What does this do?</h1>

<p>This is yet another to-do list application, but it allows you to see how the tasks depend between themselves, allowing you to make the right decision on what to work on next.</p>

<h1>Features so far</h1>

<ul>
  <li>Entering tasks</li>
  <li>Setting tasks to depend on one or more others</li>
  <li>See tasks graphed with their dependencies</li>
  <li>Wrapping long names for the tasks</li>
  <li>Selecting tasks in the graph</li>
  <li>Selecting tasks in the table</li>
  <li>Editing tasks</li>
</ul>

<h1>Why?</h1>

<p>This application was built as an experiment to help myself try out some new technologies I had not layed my hand on yet. The ones that I already knew where AngularJS and JavaScript, while my knowledge of Karma (Testacular), Node, Express, and many others where flaky. It was also a nice experiment to try out D3.JS and build something interesting.</p>

<p>The following technologies where used in building this project:</p>

<ul>
  <li>NodeJS</li>
  <li>ExpressJS</li>
  <li>Grunt</li>
  <li>Karma</li>
  <li>Jasmine</li>
  <li>AngularJS</li>
  <li>d3js</li>
  <li>sass-bootstrap</li>
</ul>
