<!-- Leaving commented out until implemented -->
<h2 class="panel-heading">
	Task details
  <!-- Leaving commented out until implemented
	  <span class="pull-right glyphicon glyphicon-chevron-up"></span>
  -->
</h2>
<div class="panel-body">
  <form ng-submit="submitForm(newTask)" class="form-horizontal">

    <div class="form-group">
      <label for="newTaskName" class="col-sm-1 control-label">Name</label>
      <div class="col-sm-4">
      	<input type="text"
               name="newTaskName"
               ng-model="taskBeingEdited.name"
               placeholder="Your task here"
               required
               class="form-control"
               autofocus-when="submitted && !nameSelected"
               ng-focus="nameSelected=true; submitted=false;"
               ng-blur="nameSelected=false"
               ng-change="submitted=false" />
      </div>
    </div>

    <div class="form-group">
      <label for="newTaskDependsOnText" class="col-sm-1 control-label">Depends on</label>
      <div class="col-sm-4">
        <tags-input
          ng-model="taskBeingEdited.previous"
          display-property="name"
          placeholder="Type to select a new task"
          allow-leftover-text="false"
          add-on-comma="false"
          add-on-blur="false"
          min-length="1"
          replace-spaces-with-dashes="false"
          add-from-autocomplete-only="true">
          <auto-complete source="filteredTaskList($query)" min-length="1">
          </auto-complete>
        </tags-input>
      </div>
    </div>

    <div class="form-group">
    	<div class="col-sm-offset-1 col-sm-4">
    		<div class="checkbox">
    			<label>
    				<input type="checkbox" ng-model="taskBeingEdited.isCompleted" ng-change="submitted=false">Done</input>
    			</label>
    		</div>
    	</div>
    </div>

    <div class="form-group">
    	<div class="col-sm-offset-1 col-sm-4">
		    <button type="submit" class="btn btn-default btn-primary" ng-click="submitted=true">
		    	{{taskBeingEdited.id ? 'Edit Task' : 'Add Task'}}
		    </button>
    	</div>
    </div>

  </form>
</div>
