<div ng-controller="TaskPersistenceCtrl" ng-include="'views/header.html'" class="header">
</div>

<div class="container-liquid container-xs-height">
	<div class="row row-xs-height">
		<section class="task-list panel panel-default col-xs-5 col-xs-height" ng-controller="TaskListCtrl" ng-include="'views/taskList.html'"></section>

		<section class="panel panel-default col-xs-7 col-xs-height" ng-controller="ChartCtrl" ng-include="'views/chart.html'"></section>
	</div>
</div>
<div class="container-liquid container-xs-height">
	<div class="row row-xs-height">
		<section class="panel panel-default col-xs-12 col-xs-height" ng-controller="DetailsCtrl" ng-include="'views/details.html'"></section>
	</div>
</div>