<div class="header">
  <h1 class="app-title">what now?</h1>
  <p class="app-subtitle">To-do list with a twist.</p>
	<!-- Leaving commented out until implemented
		<ul class="nav nav-pills pull-right">
			<li><a ng-href="#">Save...</a></li>
			<li><a ng-href="#">Load...</a></li>
		</ul>
	-->
</div>

<div class="container-liquid container-xs-height">
	<div class="row row-xs-height">
		<section class="task-list panel panel-default col-md-5 col-xs-height" ng-controller="TaskListCtrl" ng-include="'views/taskList.html'"></section>

		<section class="panel panel-default col-md-7 col-xs-height" ng-controller="ChartCtrl" ng-include="'views/chart.html'"></section>
	</div>
</div>
<div class="container-liquid container-xs-height">
	<div class="row row-xs-height">
		<section class="panel panel-default col-md-12 col-xs-height" ng-controller="DetailsCtrl" ng-include="'views/details.html'"></section>
	</div>
</div>